@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "Item - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new Experience</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name) <br />

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description) <br />

    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date) <br />

    @Html.LabelFor(model => model.LocationId)
    @Html.DropDownList("LocationId")

    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")