@{
    ViewData["Title"] = "Item - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TravelBlog.Models.ExperienceLocation
<h2>Experience Details</h2>
<hr />


<p>@Html.DisplayNameFor(model => model.experience.Name): @Html.DisplayFor(model => model.experience.Name)</p>
<p>@Html.DisplayNameFor(model => model.experience.Description) : @Html.DisplayFor(model => model.experience.Description)</p>
<p>@Html.DisplayNameFor(model => model.experience.Date) : @Html.DisplayFor(model => model.experience.Date)</p>
@foreach (var item in Model.locationList)
{
    @if (Model.experience.LocationId == item.LocationId)
    {
        @item.Name
    }
}

<p>@Html.ActionLink("Edit", "Update", new { id = Model.experience.ExperienceId }) | @Html.ActionLink("Back to List", "Index")</p>