@{
    ViewData["Title"] = "Item - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TravelBlog.Models.Experience
<h2>Experience Details</h2>
<hr />


<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.Date) : @Html.DisplayFor(model => model.Date)</p>
<p>@Html.DisplayNameFor(model => model.Location) : @Html.DisplayFor(model => model.Location.Name)</p>
<p>@Html.ActionLink("Edit", "Update", new { id = Model.ExperienceId }) | @Html.ActionLink("Back to List", "Index")</p>