@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TravelBlog.Models.Location>

<h2>OMG Travel Blog</h2>

<ul>
@foreach (var listLocation in Model)
{
    <li>@Html.DisplayFor(modelItem => listLocation.Name) | @Html.ActionLink("Delete", "Delete", new { id = listLocation.LocationId }) | @Html.ActionLink("Edit", "Update", new { id = listLocation.LocationId })</li> 
    <ul>
        <li>@Html.DisplayFor(modelItem => listLocation.Description)</li>
        <li>@Html.DisplayFor(modelItem => listLocation.City)</li>
        <li>@Html.DisplayFor(modelItem => listLocation.Country)</li>
    </ul>
}
</ul>

<p>@Html.ActionLink("Add new Location", "Create")</p>