@{
    ViewData["Title"] = "Item - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TravelBlog.Models.People
<h2>Person Details</h2>
<hr />


<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Experience): @Html.DisplayFor(model => model.Experience.Name)</p>

@*@foreach (var item in Model.locationList)
{
    @if (Model.experience.LocationId == item.LocationId)
    {
        @item.Name
    }
}*@

<p>@Html.ActionLink("Edit", "Update", new { id = Model.PeopleId }) | @Html.ActionLink("Back to List", "Index")</p>